.u-center-text {
    text-align: center !important;
}

.u-center-object {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-margin-bottom-lg {
    margin-bottom: 8rem !important;

    @include respond(tablet-portrait) {
        margin-bottom: 6rem !important;
    }
}

.u-margin-bottom-md {
    margin-bottom: 4rem !important;


    @include respond(tablet-portrait) {
        margin-bottom: 4rem !important;
    }
}

.u-margin-bottom-sm {
    margin-bottom: 2rem !important;
}

.u-margin-top-bg {
    margin-top: 8rem !important;
}
